<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        table ,td ,th{
            border: 2px solid gray;
            padding: 1rem;
            border-collapse: collapse;
        }
        html{
            color-scheme: dark light;
        }
        body{
            font-family: system-ui;
            line-height: 1.6;
            font-size: clamp(1.125rem,2vw,1.25rem);
        }
        main{
            width: min(100ch,calc(100% - 4rem));
            margin-inline: auto;
            margin-top: 100px;
        }
        button{
            padding: 1rem;
            margin: 1rem 0;
            font-size: inherit;
            background-color: royalblue;
            border: none;
            border-radius: 100vmax;
            font-weight: bold;
        }
        .card{
            display: grid;
            place-content: center;
            background-color: #333;
            padding: 1.125rem;
            border-radius: 1rem;
            border: 2px solid gray;
        }
        form{
            display: grid;
            &>*{
                padding: 1rem;
                margin: 1rem;
                border: none;
                border-radius: .5rem;
            }
        }
    </style>
</head>