<%- include('includes/header.ejs',{ title: 'New chat' }) %>
<body>
    <main>
        <h1 class="title">Write new chat...</h1>
        <div class="chats">
            <form action="/chats" method="post" class="chat">
                <input type="text" placeholder="Who are you?" name="from" class="from">
                <input type="text" name="to" placeholder="add Receiver">
                <textarea name="msg" class="msg">Write your message here...</textarea>
                <button class="btn" type="submit">Create Chat</button>
            </form>
        </div>
    </main>
</body>
</html>