<%- include('./includes/header.ejs') %>
<body>
    <section class="post-section">
        <h2>Here is Your post in detail</h2>
        <p id="post-id"> Post id: <%= post.id %></p>
        <%- include('./includes/post.ejs') %>
    </section>
</body>