<%- include('includes/header.ejs',{ 'title': 'Home Page' }) %>
<body>
    <main>
        <div class="card">
            <h1>Total number of users are : <%= count %></h1>
            <button type="submit">Join us Today!</button>
        </div>
    </main>
</body>
</html>